# Default ignored files
/../../../../:PycharmProjects/djangoProject3/.idea/shelf/
/../../../../:PycharmProjects/djangoProject3/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects\djangoProject3\.idea/dataSources/
/../../../../:PycharmProjects/djangoProject3/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/djangoProject3/.idea/httpRequests/
